<h3>Leg Exercises</h3>
<ul>
  <li><%= link_to 'Squats', edit_routine_path(:squats) %></li><li><%= link_to 'Deadlifts', edit_routine_path(:dead_lifts) %></li>
  <li><%= link_to "Leg Press", edit_routine_path(:leg_press) %></li><li><%= link_to 'Posterior Chain', edit_routine_path(:posterior_chain) %></li>
</ul>
      
<h3>Chest Exercises</h3>
<ul>
  <li><%= link_to 'Bench Press', edit_routine_path(:bench_press) %></li>
  <li><%= link_to 'Incline Press', edit_routine_path(:incline_press) %></li>
</ul>
   
