<h1>Login</h1>
<hr>
<div class="pull-right">
  <%= link_to ' Login', auth_at_provider_path(:provider => :facebook), class: "icon-2x icon-facebook-sign btn btn-primary" %><br><br>
  <%= link_to ' Login', auth_at_provider_path(:provider => :google), class: "icon-2x icon-google-plus-sign btn btn-primary" %>
  <%= link_to ' Login', auth_at_provider_path(:provider => :twitter), class: "icon-2x icon-twitter-sign btn btn-primary" %><br><br>
</div>

<%= render 'form' %>


<%= link_to 'Forgot Password?', new_password_reset_path %>
